EXTRA_JSON_Number of Positive per country.json
[{"id":"4fdbbec0.b80e68","type":"tab","label":"Number of positive/country","disabled":false,"info":""},{"id":"c3e87c77.07c7c8","type":"http request","z":"4fdbbec0.b80e68","name":"ClinicalTrials API","method":"GET","ret":"txt","paytoqs":false,"url":"https://clinicaltrials.gov/api/query/field_values?expr=ebola&field=LocationCountry","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":180,"wires":[["efa3c0de.e5dd68"]]},{"id":"ededf64f.8df0a8","type":"inject","z":"4fdbbec0.b80e68","name":"Step 1: Request XML","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":100,"wires":[["c3e87c77.07c7c8"]]},{"id":"efa3c0de.e5dd68","type":"xml","z":"4fdbbec0.b80e68","name":"","property":"payload","attr":"","chr":"","x":310,"y":280,"wires":[["bdf05b9c.0dbdb","bae9f8b3.bcc538","982bb182.2be84","f2cc704f.ffd728"]]},{"id":"bae9f8b3.bcc538","type":"function","z":"4fdbbec0.b80e68","name":"Countries","func":"var data = msg.payload.FieldValuesResponse.FieldValueList[0].FieldValue\n\ncountry = []; \ncountry[0] = {};  \n\nfor (var i = 0; i < data.length; i++) {\n        country[i]=msg.payload.FieldValuesResponse.FieldValueList[0].FieldValue[i]._;\n}\n\nmsg.payload=country;\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":120,"wires":[["38b10acf.503d66"]]},{"id":"38b10acf.503d66","type":"debug","z":"4fdbbec0.b80e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":120,"wires":[]},{"id":"982bb182.2be84","type":"function","z":"4fdbbec0.b80e68","name":"Positive","func":"var data = msg.payload.FieldValuesResponse.FieldValueList[0].FieldValue\n\nstudy = []; \nstudy[0] = {};  \n\nfor (var j = 0; j < data.length; j++) {\n        study[j]=msg.payload.FieldValuesResponse.FieldValueList[0].FieldValue[j].$.NStudiesFoundWithValue;\n}\n\nmsg.payload=study;\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":220,"wires":[["38b10acf.503d66"]]},{"id":"bdf05b9c.0dbdb","type":"function","z":"4fdbbec0.b80e68","name":"insert Query","func":"var data = msg.payload.FieldValuesResponse.FieldValueList[0].FieldValue\n\ncountry = []; \ncountry[0] = {};  \n\nfor (var i = 0; i < data.length; i++) {\n        country[i]=msg.payload.FieldValuesResponse.FieldValueList[0].FieldValue[i]._;\n}\n\n\nstudy = []; \nstudy[0] = {};  \n\nfor (var j = 0; j < data.length; j++) {\n        study[j]=msg.payload.FieldValuesResponse.FieldValueList[0].FieldValue[j].$.NStudiesFoundWithValue;\n}\n\nmsg.topic = \"INSERT INTO countries (NAME, STUDIES) VALUES ( \\\"\" + country[0]  + \"\\\" ,\\\"\" + study[0] + \"\\\"),( \\\"\" + country[1]  + \"\\\" ,\\\"\" + study[1] + \"\\\"),( \\\"\" + country[2]  + \"\\\" ,\\\"\" + study[2] + \"\\\"),( \\\"\" + country[3]  + \"\\\" ,\\\"\" + study[3] + \"\\\"),( \\\"\" + country[4]  + \"\\\" ,\\\"\" + study[4] + \"\\\"),( \\\"\" + country[5]  + \"\\\" ,\\\"\" + study[5] + \"\\\"),( \\\"\" + country[6]  + \"\\\" ,\\\"\" + study[6] + \"\\\"),( \\\"\" + country[7]  + \"\\\" ,\\\"\" + study[7] + \"\\\"),( \\\"\" + country[8]  + \"\\\" ,\\\"\" + study[8] + \"\\\"),( \\\"\" + country[9]  + \"\\\" ,\\\"\" + study[9] + \"\\\"),( \\\"\" + country[10]  + \"\\\" ,\\\"\" + study[10] + \"\\\"),( \\\"\" + country[11]  + \"\\\" ,\\\"\" + study[11] + \"\\\"),( \\\"\" + country[12]  + \"\\\" ,\\\"\" + study[12] + \"\\\"),( \\\"\" + country[13]  + \"\\\" ,\\\"\" + study[13] + \"\\\"),( \\\"\" + country[14]  + \"\\\" ,\\\"\" + study[14] + \"\\\"),( \\\"\" + country[15]  + \"\\\" ,\\\"\" + study[15] + \"\\\"),( \\\"\" + country[16]  + \"\\\" ,\\\"\" + study[16] + \"\\\"),( \\\"\" + country[17]  + \"\\\" ,\\\"\" + study[17] + \"\\\"),( \\\"\" + country[18]  + \"\\\" ,\\\"\" + study[18] + \"\\\"),( \\\"\" + country[19]  + \"\\\" ,\\\"\" + study[19] + \"\\\"),( \\\"\" + country[20]  + \"\\\" ,\\\"\" + study[20] + \"\\\"),( \\\"\" + country[21]  + \"\\\" ,\\\"\" + study[21] + \"\\\"),( \\\"\" + country[22]  + \"\\\" ,\\\"\" + study[22] + \"\\\"),( \\\"\" + country[23]  + \"\\\" ,\\\"\" + study[23] + \"\\\"),( \\\"\" + country[24]  + \"\\\" ,\\\"\" + study[24] + \"\\\"),( \\\"\" + country[25]  + \"\\\" ,\\\"\" + study[25] + \"\\\"),( \\\"\" + country[26]  + \"\\\" ,\\\"\" + study[26] + \"\\\"),( \\\"\" + country[27]  + \"\\\" ,\\\"\" + study[27] + \"\\\"),( \\\"\" + country[28]  + \"\\\" ,\\\"\" + study[28] + \"\\\"),( \\\"\" + country[29]  + \"\\\" ,\\\"\" + study[29] + \"\\\"),( \\\"\" + country[30]  + \"\\\" ,\\\"\" + study[30] + \"\\\") ;\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":320,"wires":[["e312a2cf.86bfb"]]},{"id":"e312a2cf.86bfb","type":"mysql","z":"4fdbbec0.b80e68","mydb":"c3417f9d.ebd328","name":"MySQL","x":800,"y":320,"wires":[["a99438bb.2b7bb8","fe4ae792.0effd8"]]},{"id":"f7a00aa3.d850c8","type":"function","z":"4fdbbec0.b80e68","name":"Sort studies","func":"msg.topic = \"SELECT * FROM countries ORDER BY STUDIES DESC\";\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":380,"wires":[["e312a2cf.86bfb"]]},{"id":"9ea096d4.9fa33","type":"function","z":"4fdbbec0.b80e68","name":"Clear DB","func":"msg.topic = \"DELETE FROM countries\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":520,"wires":[["e312a2cf.86bfb"]]},{"id":"15089fe6.24bee","type":"inject","z":"4fdbbec0.b80e68","name":"Step 3: Enable clearing_Prevent Duplicates","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":520,"wires":[["9ea096d4.9fa33"]]},{"id":"f924124.f4170f","type":"ui_chart","z":"4fdbbec0.b80e68","name":"","group":"c294156b.b08898","order":2,"width":0,"height":0,"label":"Positive to Virus_Bar Chart","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":520,"wires":[[]]},{"id":"2aaf34fe.d7566c","type":"inject","z":"4fdbbec0.b80e68","name":"Step 2: Sort DB and Enable Plotting","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":440,"wires":[["f7a00aa3.d850c8","fe4ae792.0effd8"]]},{"id":"a99438bb.2b7bb8","type":"debug","z":"4fdbbec0.b80e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":180,"wires":[]},{"id":"fe4ae792.0effd8","type":"function","z":"4fdbbec0.b80e68","name":"Convert to Axis labels","func":"\nvar m = {};\nm.labels = [];\nm.data = [];\nm.series = [\"Number of studies positive to Ebola virus\"];\nvar arrayLength = msg.payload.length;\n\nfor (var i = 0; i < arrayLength; i++) {\n    m.labels.push((msg.payload[i].NAME));\n    m.data.push((msg.payload[i].STUDIES));\n}\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":860,"y":440,"wires":[["f924124.f4170f"]]},{"id":"f2cc704f.ffd728","type":"debug","z":"4fdbbec0.b80e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":200,"y":360,"wires":[]},{"id":"c3417f9d.ebd328","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"ebola","tz":"UTC"},{"id":"c294156b.b08898","type":"ui_group","z":"","name":"Studies Sorted","tab":"1ae03a63.6525e6","order":1,"disp":true,"width":"25","collapse":true},{"id":"1ae03a63.6525e6","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]