JSON_Number of Tests per country.json
[{"id":"f877504b.b1eb38","type":"tab","label":"Number of Tests/country","disabled":false,"info":""},{"id":"f28e8260.202428","type":"http request","z":"f877504b.b1eb38","name":"ClinicalTrials API","method":"GET","ret":"txt","paytoqs":false,"url":"https://clinicaltrials.gov/api/query/field_values?expr=ebola&field=LocationCountry","tls":"","persist":false,"proxy":"","authType":"","x":190,"y":140,"wires":[["4caabec3.4590f8"]]},{"id":"c0dee81e.9bb698","type":"inject","z":"f877504b.b1eb38","name":"Step 1: Request XML","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["f28e8260.202428"]]},{"id":"4caabec3.4590f8","type":"xml","z":"f877504b.b1eb38","name":"","property":"payload","attr":"","chr":"","x":270,"y":240,"wires":[["9ced2973.6d2768","f42bfeb1.0c16f","3af56fc4.a8f9d8","bf1f63ee.280ad8"]]},{"id":"f42bfeb1.0c16f","type":"function","z":"f877504b.b1eb38","name":"Countries","func":"var data = msg.payload.FieldValuesResponse.FieldValueList[0].FieldValue\n\ncountry = []; \ncountry[0] = {};  \n\nfor (var i = 0; i < data.length; i++) {\n        country[i]=msg.payload.FieldValuesResponse.FieldValueList[0].FieldValue[i]._;\n}\n\nmsg.payload=country;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":80,"wires":[["bf31dbe3.7b995"]]},{"id":"bf31dbe3.7b995","type":"debug","z":"f877504b.b1eb38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":80,"wires":[]},{"id":"3af56fc4.a8f9d8","type":"function","z":"f877504b.b1eb38","name":"Studies","func":"var data = msg.payload.FieldValuesResponse.FieldValueList[0].FieldValue\n\nstudy = []; \nstudy[0] = {};  \n\nfor (var j = 0; j < data.length; j++) {\n        study[j]=msg.payload.FieldValuesResponse.FieldValueList[0].FieldValue[j].$.NStudiesWithValue;\n}\n\nmsg.payload=study;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":180,"wires":[["bf31dbe3.7b995"]]},{"id":"9ced2973.6d2768","type":"function","z":"f877504b.b1eb38","name":"insert Query","func":"var data = msg.payload.FieldValuesResponse.FieldValueList[0].FieldValue\n\ncountry = []; \ncountry[0] = {};  \n\nfor (var i = 0; i < data.length; i++) {\n        country[i]=msg.payload.FieldValuesResponse.FieldValueList[0].FieldValue[i]._;\n}\n\n\nstudy = []; \nstudy[0] = {};  \n\nfor (var j = 0; j < data.length; j++) {\n        study[j]=msg.payload.FieldValuesResponse.FieldValueList[0].FieldValue[j].$.NStudiesWithValue;\n}\n\nmsg.topic = \"INSERT INTO countries (NAME, STUDIES) VALUES ( \\\"\" + country[0]  + \"\\\" ,\\\"\" + study[0] + \"\\\"),( \\\"\" + country[1]  + \"\\\" ,\\\"\" + study[1] + \"\\\"),( \\\"\" + country[2]  + \"\\\" ,\\\"\" + study[2] + \"\\\"),( \\\"\" + country[3]  + \"\\\" ,\\\"\" + study[3] + \"\\\"),( \\\"\" + country[4]  + \"\\\" ,\\\"\" + study[4] + \"\\\"),( \\\"\" + country[5]  + \"\\\" ,\\\"\" + study[5] + \"\\\"),( \\\"\" + country[6]  + \"\\\" ,\\\"\" + study[6] + \"\\\"),( \\\"\" + country[7]  + \"\\\" ,\\\"\" + study[7] + \"\\\"),( \\\"\" + country[8]  + \"\\\" ,\\\"\" + study[8] + \"\\\"),( \\\"\" + country[9]  + \"\\\" ,\\\"\" + study[9] + \"\\\"),( \\\"\" + country[10]  + \"\\\" ,\\\"\" + study[10] + \"\\\"),( \\\"\" + country[11]  + \"\\\" ,\\\"\" + study[11] + \"\\\"),( \\\"\" + country[12]  + \"\\\" ,\\\"\" + study[12] + \"\\\"),( \\\"\" + country[13]  + \"\\\" ,\\\"\" + study[13] + \"\\\"),( \\\"\" + country[14]  + \"\\\" ,\\\"\" + study[14] + \"\\\"),( \\\"\" + country[15]  + \"\\\" ,\\\"\" + study[15] + \"\\\"),( \\\"\" + country[16]  + \"\\\" ,\\\"\" + study[16] + \"\\\"),( \\\"\" + country[17]  + \"\\\" ,\\\"\" + study[17] + \"\\\"),( \\\"\" + country[18]  + \"\\\" ,\\\"\" + study[18] + \"\\\"),( \\\"\" + country[19]  + \"\\\" ,\\\"\" + study[19] + \"\\\"),( \\\"\" + country[20]  + \"\\\" ,\\\"\" + study[20] + \"\\\"),( \\\"\" + country[21]  + \"\\\" ,\\\"\" + study[21] + \"\\\"),( \\\"\" + country[22]  + \"\\\" ,\\\"\" + study[22] + \"\\\"),( \\\"\" + country[23]  + \"\\\" ,\\\"\" + study[23] + \"\\\"),( \\\"\" + country[24]  + \"\\\" ,\\\"\" + study[24] + \"\\\"),( \\\"\" + country[25]  + \"\\\" ,\\\"\" + study[25] + \"\\\"),( \\\"\" + country[26]  + \"\\\" ,\\\"\" + study[26] + \"\\\"),( \\\"\" + country[27]  + \"\\\" ,\\\"\" + study[27] + \"\\\"),( \\\"\" + country[28]  + \"\\\" ,\\\"\" + study[28] + \"\\\"),( \\\"\" + country[29]  + \"\\\" ,\\\"\" + study[29] + \"\\\"),( \\\"\" + country[30]  + \"\\\" ,\\\"\" + study[30] + \"\\\") ;\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["195b8173.976997"]]},{"id":"195b8173.976997","type":"mysql","z":"f877504b.b1eb38","mydb":"c3417f9d.ebd328","name":"MySQL","x":760,"y":280,"wires":[["a7a0ae5d.2729d","d8026f6a.e3ab"]]},{"id":"6803af1a.9f64d","type":"function","z":"f877504b.b1eb38","name":"Sort studies","func":"msg.topic = \"SELECT * FROM countries ORDER BY STUDIES DESC\";\nreturn msg;\n","outputs":1,"noerr":0,"x":490,"y":340,"wires":[["195b8173.976997"]]},{"id":"424a75b2.290294","type":"function","z":"f877504b.b1eb38","name":"Clear DB","func":"msg.topic = \"DELETE FROM countries\";\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":480,"wires":[["195b8173.976997"]]},{"id":"37faca6e.4c60b6","type":"inject","z":"f877504b.b1eb38","name":"Step 3: Enable clearing_Prevent Duplicates","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":480,"wires":[["424a75b2.290294"]]},{"id":"58159f9d.b02e6","type":"ui_chart","z":"f877504b.b1eb38","name":"","group":"c294156b.b08898","order":2,"width":0,"height":0,"label":"Clinical studies_Bar Chart","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"150000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":480,"wires":[[]]},{"id":"32c377ea.32b328","type":"inject","z":"f877504b.b1eb38","name":"Step 2: Sort DB and Enable Plotting","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":400,"wires":[["6803af1a.9f64d","d8026f6a.e3ab"]]},{"id":"a7a0ae5d.2729d","type":"debug","z":"f877504b.b1eb38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":140,"wires":[]},{"id":"d8026f6a.e3ab","type":"function","z":"f877504b.b1eb38","name":"Convert to Axis labels","func":"\nvar m = {};\nm.labels = [];\nm.data = [];\nm.series = [\"Clinical studies about Ebola virus\"];\nvar arrayLength = msg.payload.length;\n\nfor (var i = 0; i < arrayLength; i++) {\n    m.labels.push((msg.payload[i].NAME));\n    m.data.push((msg.payload[i].STUDIES));\n}\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":820,"y":400,"wires":[["58159f9d.b02e6"]]},{"id":"bf1f63ee.280ad8","type":"debug","z":"f877504b.b1eb38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":160,"y":320,"wires":[]},{"id":"c3417f9d.ebd328","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"ebola","tz":"UTC"},{"id":"c294156b.b08898","type":"ui_group","z":"","name":"Studies Sorted","tab":"1ae03a63.6525e6","order":1,"disp":true,"width":"25","collapse":true},{"id":"1ae03a63.6525e6","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]